<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.xv.unity" android:sharedUserId="android.uid.system" android:versionCode="626" android:versionName="0.0.06041600">
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.USB_PERMISSION" />
  <uses-feature android:name="android.hardware.usb.host" />
  <uses-feature android:name="android.hardware.camera" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.MASTER_CLEAR" />
  <uses-permission android:name="android.permission.FLASHLIGHT" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!--some devices need read permission to create folders or files-->
  <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.REBOOT" />
  <uses-permission android:name="android.permission.SHUTDOWN" />
  <uses-permission android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.USB_PERMISSION" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.READ_NETWORK_USAGE_HISTORY" />
  <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
  <!--needed by background Rtp service to keep service alive   XvUnityOneDisplayActivity  -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <application android:name="com.xv.XvApp" android:icon="@drawable/app_icon" android:label="@string/app_name" android:requestLegacyExternalStorage="true" android:extractNativeLibs="true">
    <activity android:name="top.xv.xrlib.unity.XvMainActivity" android:exported="false" android:label="@string/app_name" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity android:name="top.xv.xrlib.launcher.XvARWaitLauncher" android:exported="false" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:screenOrientation="landscape" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density" android:hardwareAccelerated="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:clearTaskOnLaunch="true" android:exported="true" android:launchMode="singleInstance" android:name="top.xv.xrlib.launcher.XvARLauncher" android:noHistory="true" android:screenOrientation="landscape" android:theme="@style/BaseUnityTheme1">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.HOME" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.MONKEY" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
      </intent-filter>
      <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/usb_filter" />
    </activity>
    <service android:name="com.dongao.dlna.upnp.service.UpnpDeviceService" />
    <provider android:authorities="top.xv.xrlib.launcher_broker" android:enabled="true" android:exported="true" android:name="top.xv.xrlib.common.XvLauncherBroker" />
     <meta-data android:name="com.xv.THREE_D" android:value="false" /><meta-data android:name="xv.rk.launcher" android:value="true" /></application>
</manifest>